@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Source+Sans+3&display=swap');
.manrope-font {
    font-family: 'Manrope', sans-serif;
}
.source-sans {
    font-family: 'Source Sans 3', sans-serif;
}
body {
    margin: 0;
    background-color: rgb(194, 228, 255);
    font-family: 'Manrope', sans-serif;
}
.navbar a {
    text-decoration: none;
    color: white;
    margin:auto;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    
}

.navbar {
    background-color: navy;
    display:flex;
    padding: 16px;
    
}

.light-blue-bg{
    background-color: rgb(149, 191, 255);
}
.display-box { 
    text-align: center; 
    width: 80%;
    background-color: rgb(255, 255, 255); 
    padding: 8px; 
    border-radius: 1px; 
    margin: 32px auto;
    border: 1px solid black;
    
}
.display-box h3 a{
    color: black;
}
.display-box h1 {
    margin-bottom: 8px;
}
#aboutmetext{
    text-align: left;
    margin-left: 16px;
}
#aboutmecontainer{
    margin: auto;
    width: 70%;
}
#project-display-box ul{
    list-style-type: none
}


